:root {
    --firstcolor: #0F8E93;
}

body {}

* {
    font-family: 'PT Sans', sans-serif;
}

.home {}

.home .container {
    height: 17%;
}

.home h1 {
    font-size: 35px;
    color: grey;
    font-weight: 700;
}

.home ul li {
    font-size: 14px;
    list-style: none;
    display: inline-block;
}

.home ul {
    padding: 10px 0;
    margin-bottom: 0 !important;
}

.home ul li a {
    padding: 15px;
    color: grey;
    font-weight: 500;
    transition: .3s all;
}

.home ul li a:hover {
    transition: .3s all;
    color: #fff;
    text-decoration: none;
    background-color: var(--firstcolor);
}

.home .row {
    height: 83%;
}

.home .row img {
    height: 100%;
    width: 100%;
}

/*search box part*/

.search button {
    background-color: var(--firstcolor);
    border: 1px solid var(--firstcolor);
    color: #fff;
    padding: 15px;
}

.search input[type="text"] {
    height: auto;
    border-right: none;
    padding: 15px !important;
    background-color: #e6e6e6;
}

.search input[type="text"]:focus {
    outline: none !important;
    border-color: var(--firstcolor);
    box-shadow: none;
}

.search input[type="text"]:focus + .search-icon {
    border-color: var(--firstcolor);
}

.search .search-icon {
    border: 1px solid #ced4da;
    color: #495057;
    transition: .3s all;
    border-left: none;
    padding: inherit 15px;
    background-color: #e6e6e6;
}

.search .search-icon:hover {
    background-color: var(--firstcolor);
    transition: .3s all;
    color: #fff;
}


/*exhibition part*/

.exhibition .exhibition-row h2 {
    word-spacing: 8px;
    font-size: 35px;
    font-weight: 600;
    color: var(--firstcolor);
    letter-spacing: 2px;
}

.exhibition .exhibition-row ul {
    list-style: none;
    display: grid !important;
    grid-column-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.exhibition .exhibition-row ul li {
    background-color: #f4f2f2;
}

.exhibition .exhibition-row ul li a {
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    font-weight: 600;
    transition: .3s all;
    font-size: 12px;
}

.exhibition .exhibition-row ul li a:hover {
    text-decoration: none;
    background-color: grey;
    color: #fff;
    transition: .3s all;
}

.active-link {
    background-color: grey;
    color: #fff !important;
}

/*card portion*/

.card h5 {
    font-size: 16px;
    color: #D5A04A;
}

.card p {
    font-size: 14px;
}

.date-time {
    overflow: auto;
}

.date {
    display: block;
    overflow: auto;
}

.date-time .date p {
    float: left;
    margin: auto 0;
}

.date-time .date span {
    width: 100px;
    float: right;
}

.user-part {
    overflow: auto;
}

.user-part .user-image {
    overflow: auto;
    width: 12%;
    float: left;
}

.user-part img {
    height: 30px;

}

.user-content {
    overflow: auto;
    width: 85%;
    float: left;
}

.user-content h6 {
    color: var(--firstcolor);
}

.arrow {
    color: #333 !important;
    font-size: 30px;
}

.view-store-button {
    overflow: auto;
    /* position: relative !important; */
}

.view-store-button a {
    /* position: absolute; */
    /* right: 0; */
    float: right;
    letter-spacing: 2px;
    display: inline-block;
    padding: 10px 20px;
    transition: .3s all;
    background-color: var(--firstcolor);
    color: #fff;
}

.view-store-button a:hover {
    text-decoration: none;
    transition: .3s all;
}

.view-store-button a:hover .fas {
    left: 10px;
    transition: .3s all;
}

.view-store-button a .fas {
    position: relative;
    left: 0;
    transition: .3s all;
}

/*search bar part 2*/

.search2 h2 {
    margin-bottom: 30px;
    letter-spacing: 4px;
    word-spacing: 10px;
    font-size: 24px;
}

.search2 input {
    border: none;
    transition: .3s all;
    color: #495057;
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    border-right: 0 !important;
    display: inline-block;
    padding: 10px 15px;
    flex: 1 1 auto;
}

.search2 input:focus {
    transition: .3s all;
    border: 1px solid var(--firstcolor);
    border-right: 0 !important;
    outline: none;
}

.search2 input:focus + button {
    border: 1px solid var(--firstcolor);
    border-left: 0 !important;
    transition: .3s all;
}

.search2 input::placeholder {
    font-weight: 700;
    letter-spacing: 1px;
}

.search2 button {
    transition: .3s all;
    padding: 0 20px;
    border: none;
    border: 1px solid #e6e6e6;
    border-left: 0 !important;
    background-color: #e6e6e6;
    color: #495057;
}

.search2 button:hover {
    background-color: var(--firstcolor);
    transition: .3s all;
    color: #fff;
}

/*most whishlisted stores 2019*/

.wishlisted-stores {
    height: 85%;
    background-color: red;
    background-image: url(../images/Asset%208@4x-100.jpg);
    background-size: cover;
    background-position: center;
}

.wishlisted-stores .container {
    position: relative;
    padding: 50px 0;
    color: #fff;
}

.wishlisted-stores h3 {
    margin: 0 0 30px 0;
    font-weight: 700;
    letter-spacing: 1px;
}

.wishlisted-stores a {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 20px;
    color: #fff;
    border: 2px solid #fff;
    transition: .3s all;
    display: inline-block;
}

.wishlisted-stores a:hover {
    background-color: var(--firstcolor);
    text-decoration: none;
    transition: .3s all;
}

.wishlisted-stores .wish-content {
    position: absolute;
    bottom: 0;
}


/*dummy part*/
.dummy h5 {
    font-size: 18px;
    font-weight: bolder;
}

.dummy .container {
    padding: 50px 0;
}

.dummy p {
    font-size: 14px;
    font-weight: 400;
    color: grey;
}

/*trending*/
.trending h2 {
    text-align: center;
    padding: 20px 0;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
    word-spacing: 8px;
    color: var(--firstcolor);
}

.trending-upper {
    position: relative;
    text-align: center !important;
}

.trending-upper p {
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    color: #fff;
}

.trending-down {
    padding: 10px 0;
    font-size: 18px;
    word-break: break-all;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    color: grey;
}


/*store category*/
.store-p {
    font-weight: 400;
    letter-spacing: 2px;
}

/*application part*/

.app {
    margin-top: 80px !important;
    padding: 50px 0;
    background-color: #CF912E;
    color: #fff;
}

/*footer part*/
footer {
    padding: 50px 0;
    background-color: #111;
}

footer ul {
    font-size: 18px;
    list-style: none;
    color: #fff;
}

footer ul li.special {
    text-transform: capitalize;
    color: #CF912E;
    font-size: 20px;
    margin-bottom: 20px;
}

footer ul li a {
    transition: .3s all;
    display: list-item;
    color: #fff;
    padding: 10px 0;
}

footer ul li a:hover {
    text-decoration: none;
    color: grey;
    transition: .3s all;
}

footer ul li.social-media {
    height: 50px;
    width: 50px;
    display: inline-block !important;
}

footer ul li.social-media a {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
    border: 1px solid #fff;
}

footer ul li.social-media a.facebook:hover {
    background-color: #3A559F;
    color: #fff;
    border: 1px solid #3A559F;
}

footer ul li.social-media a.twitter:hover {
    background-color: #55ACEE;
    color: #fff;
    border: 1px solid #55ACEE;
}

footer ul li.social-media a.linkeedin:hover {
    background-color: #0077AF;
    color: #fff;
    border: 1px solid #0077AF;
}

footer ul li.social-media a.googleplus:hover {
    background-color: #DC4E41;
    color: #fff;
    border: 1px solid #DC4E41;
}
